.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 20px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }

.cart-box {
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    align-items: center;
}

.distance {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}